### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [67]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [68]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [69]:
df = purchase_data

## Player Count

* Display the total number of players

In [71]:
total_number_of_players =len (df["SN"].unique())
total_number_of_players

576

In [73]:
n = total_number_of_players =len (df["SN"].unique())
pd.DataFrame({
    "total_number_of_players" :[n]
})

   total_number_of_players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [76]:
#Number of unique items
unique_items = len(df["Item Name"].unique())
unique_items

179

In [98]:
#Average purchase price
Average_purchase_price = round(df["Price"].mean(),2)
Average_purchase_price

3.05

In [78]:
#Total number of purchases
Total_number_of_purchases = df["Purchase ID"].count()
Total_number_of_purchases

780

In [106]:
#Total revenue
Total_revenue = df["Price"].sum()
Total_revenue

2379.77

In [99]:
pd.DataFrame({
    "Number of unique items" : [unique_items],
    "Average purchase price" : [Average_purchase_price],
    "Total number of purchases" : [Total_number_of_purchases],
    "Total revenue" : [Total_revenue]
})

,Number of unique items,Average purchase price,Total number of purchases,Total revenue
0,179,3.05,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [94]:
#count of male,female and other players
df1 = df[["Gender", "SN"]]
df1 = df1.drop_duplicates()
count_of_all_players = df1 ["Gender"].value_counts()
count_of_all_players

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [116]:
#percentage of male,female and other players
percentage_of_all_players = value_counts/total_number_of_players
percentage_of_all_players

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [97]:
pd.DataFrame({"Total counts" : count_of_all_players , 
             "percentage of players" : percentage_of_all_players
             })

                       Total counts  percentage of players
Male                            484               0.840278
Female                           81               0.140625
Other / Non-Disclosed            11               0.019097


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [109]:
#purchase count broken by gender
purchase_count=df.groupby(["Gender"]).count()["Item ID"]
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item ID, dtype: int64

In [119]:
#Avergae purchase count
Avergae_purchase_count = round(df.groupby(["Gender"]).mean()["Price"],2)
Avergae_purchase_count

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [114]:
#Total purchase value
Total_purchase_value_by_gender = df.groupby(["Gender"]).sum()["Price"]
Total_purchase_value_by_gender

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [124]:
#Average purchase Total Per Person
Average_purchase_Total_Per_Person = Total_purchase_value_by_gender/value_counts
Average_purchase_Total_Per_Person = round(Average_purchase_Total_Per_Person,2)
Average_purchase_Total_Per_Person

Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [127]:
pd.DataFrame({"purchase count broken by gender" : purchase_count, 
              "Avergae purchase count" : Total_purchase_value_by_gender ,
              "Total purchase value": Total_purchase_value_by_gender,
              "Average purchase Total Per Person" : Average_purchase_Total_Per_Person
              })

,purchase count broken by gender,Avergae purchase count,Total purchase value,Average purchase Total Per Person
Gender,,,,
Female,113,361.94,361.94,4.47
Male,652,1967.64,1967.64,4.07
Other / Non-Disclosed,15,50.19,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [137]:
#purchase count by age
label = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,999]    
df["Range of Age"] = pd.cut(df["Age"], bins = bins, labels= label)

In [139]:
#purchase count by age
purchase_count = df.groupby(["Range of Age"]).count()["Purchase ID"]
purchase_count

Range of Age
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [156]:
#Average purchase price
Average_purchase_price = round(df.groupby(["Range of Age"]).mean()["Price"] ,2)
Average_purchase_price

Range of Age
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
Name: Price, dtype: float64

In [165]:
#Total purchase value by Age
Total_purchase_values = df.groupby(["Range of Age"]).sum()["Price"]
Total_purchase_values

Range of Age
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [166]:
#Average purchase Total per person by Age Group
Average_purchase_Total = Total_purchase_value /purchase_count 
Average_purchase_Total = round(Average_purchase_Total,2)
Average_purchase_Total

Range of Age
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
dtype: float64

In [167]:
pd.DataFrame({"purchase count by age" : purchase_count, 
              "Avergae purchase count" : Total_purchase_value_by_gender ,
              "Total purchase value by Age": Total_purchase_values,
              "Average purchase Total per person by Age Group" : Average_purchase_Total
              })

,purchase count by age,Avergae purchase count,Total purchase value by Age,Average purchase Total per person by Age Group
10-14,28.0,NaN,82.78,2.96
15-19,136.0,NaN,412.89,3.04
20-24,365.0,NaN,1114.06,3.05
25-29,101.0,NaN,293.00,2.90
30-34,73.0,NaN,214.00,2.93
35-39,41.0,NaN,147.67,3.60
40+,13.0,NaN,38.24,2.94
<10,23.0,NaN,77.13,3.35
Female,NaN,361.94,NaN,NaN
Male,NaN,1967.64,NaN,NaN
Other / Non-Disclosed,NaN,50.19,NaN,NaN

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [196]:
#SN
SN=df.groupby(["SN"]).count()["Purchase ID"]
SN

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [197]:
#Average purchase price
Average_purchase_price = df.groupby(["SN"]).mean()["Price"]
Average_purchase_price

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [198]:
# Total purchase value
Total_purchase_value= df.groupby(["SN"]).sum()["Price"]
Total_purchase_value

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [203]:
#total purchase in descending order
total_purchase_in_descending_order = df.sort_values("Price", ascending = True)
total_purchase_in_descending_order

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Range of Age
63,63,Alo38,20,Male,125,Whistling Mithril Warblade,1.00,20-24
418,418,Marim28,25,Female,125,Whistling Mithril Warblade,1.00,25-29
371,371,Eusurdeu49,23,Male,155,War-Forged Gold Deflector,1.01,20-24
586,586,Chanirra79,23,Female,155,War-Forged Gold Deflector,1.01,20-24
282,282,Aidai61,21,Male,155,War-Forged Gold Deflector,1.01,20-24
...,...,...,...,...,...,...,...,...
246,246,Lirtilsa71,24,Male,139,"Mercy, Katana of Dismay",4.94,20-24
116,116,Lassilsala30,21,Male,139,"Mercy, Katana of Dismay",4.94,20-24
231,231,Yarithsurgue62,26,Male,139,"Mercy, Katana of Dismay",4.94,25-29
189,189,Hiasri33,23,Male,63,Stormfury Mace,4.99,20-24
554,554,Dyally87,22,Male,63,Stormfury Mace,4.99,20-24

In [219]:
pd.DataFrame({ 
            "Average purchase price" : Average_purchase_price ,
              "Total purchase value": Total_purchase_values,"total purchase in descending order" : total_purchase_in_descending_order
              })

ValueError: Buffer dtype mismatch, expected 'Python object' but got 'signed char'

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [208]:
#Item ID, Item Name, and Item Price columns
Data_frame = df [["Item ID", "Item Name", "Price"]]
Data_frame

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [210]:
#purchase count
purchase_count = df.groupby(["Item ID", "Item Name"]).count()["Price"]
purchase_count

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Price, Length: 179, dtype: int64

In [213]:
#Average purchase price
Average_purchase_price= df.groupby(["Item ID", "Item Name"]).mean()["Price"]
Average_purchase_price

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Name: Price, Length: 179, dtype: float64

In [214]:
# Total Purchase Value
Total_Purchase_Value= df.groupby(["Item ID", "Item Name"]).sum()["Price"]
Total_Purchase_Value

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [218]:
pd.DataFrame({ 
            "purchase count": purchase_count,
              "Average purchase price" : Average_purchase_price,
               "Total Purchase Value" : Total_Purchase_Value
              })

,,purchase count,Average purchase price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,1.2800,5.12
1,Crucifer,4,2.9425,11.77
2,Verdict,6,2.4800,14.88
3,Phantomlight,6,2.4900,14.94
4,Bloodlord's Fetish,5,1.7000,8.50
...,...,...,...,...
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.2300,50.76
179,"Wolf, Promise of the Moonwalker",6,4.4800,26.88
181,Reaper's Toll,5,1.6600,8.30
182,Toothpick,3,4.0300,12.09
183,Dragon's Greatsword,3,1.0900,3.27

In [223]:
#sort the purchase count column in descending order
Descending_order = df.sort_values("Price", ascending = True)
Descending_order

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Range of Age
63,63,Alo38,20,Male,125,Whistling Mithril Warblade,1.00,20-24
418,418,Marim28,25,Female,125,Whistling Mithril Warblade,1.00,25-29
371,371,Eusurdeu49,23,Male,155,War-Forged Gold Deflector,1.01,20-24
586,586,Chanirra79,23,Female,155,War-Forged Gold Deflector,1.01,20-24
282,282,Aidai61,21,Male,155,War-Forged Gold Deflector,1.01,20-24

In [225]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Range of Age
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [226]:
#Most Profitable items
df.sort_values("total purchase value" , ascending = True)

KeyError: 'total purchase value'